# Ignore Git directories
.git/
.gitignore

# Ignore Dart & Flutter build caches and compilation outputs recursively
**/.dart_tool/
**/build/
**/.pub-cache/
**/.pub/

# Ignore platform-specific build folders not needed for compiling the web app
apps/bqopd_flutter/

# Ignore Python environment and cache folders
venv/
.venv/
**/__pycache__/
/*.pyc

# Ignore IDE settings
.idea/
.vscode/
*.iml